/* html {
    background-color:cadetblue;
} */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

navbar {
    padding-top: 8px;
    margin-right: 10px;
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 46px;
    flex-wrap: nowrap;
    flex-basis: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11px;
}

.naventry {
    outline: none;
    padding: 4px 0px;
    margin: 0 8px;
    /* background-color:cadetblue; */
}

.navlink {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}

#apps {
    opacity: .55;
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    padding: 0px;
    width: 30px;
    height: 30px;
    background-position: -132px 30px;
}

#apps:hover {
    opacity: 1;
}

#profilelink {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
}

#profilelink:hover {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
}

#profile {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#logo {
    /* position: sticky; */
    text-align: center;
    padding-top: 144px;
}

#searchbarcontainer {
    /* background-color: lavender; */
    padding: 23px 0px;
    display: flex;
    margin: auto;
    text-align: center;
    /* background-color: saddlebrown; */
    height: auto;
    justify-content: center;
}

#searchbar {
    display: flex;
    align-items: start;
    justify-content: left;
    background-color: transparent;
    border: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 1px 1px;
    border-radius: 22px;
    width: 582px;
    max-width: 582px;
    height: 44px;
}

#searchbar:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
    border-color: rgba(0, 0, 0, 0.05);
}

#searchinput {
    font-size: 16px;
    /* background-color: rgba(0, 150, 150, .1); */
    height: 42px;
    max-width: 488px;
    width: 488px;
    border: hidden;
}

#searchinput:focus{
    outline: none;
}

#magnifyingglass {
    padding: 14px 14px 0px 16px;
}

#cancelsearch {
    opacity: 0;
    padding: 15px 0px 0px 11px;
}

:not(:placeholder-shown) + #cancelsearch{
    opacity: 1;
}

#buttons {
    display: flex;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: start;
    padding-top: 7px;
}

.gbutton {
    cursor: pointer;
    margin: 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    border: 1px solid white;
    padding: 8px 16px;
    background-color: rgb(248, 249, 250);
}

.gbutton:hover {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    /* background-color: turquoise; */
}

.gbutton:focus {
    border: 1px solid rgb(77, 144, 254);
}

#offers {
    margin: 32px 0 0 0;
    text-align: center;
    color: #222222;
    font-size: 13px;
}

.offeredlang {
    outline: none;
    margin: 0px 3px;
    color: rgb(26, 13, 171);
    text-decoration: none;
}

.offeredlang:hover {
    text-decoration: underline;
}

footer {
    /* margin: 0px 0px -10px -5px; */
    color: #6F6F6F;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: green;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.columnfooter {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(220, 220, 220);
    background-color: #F2F2F2;
    height: 40px;

    padding-left: 30px;
}

#leftfooter {
    display: flex;
}

#rightfooter {
    position: absolute;
    right: 3px;
    display: flex;
    justify-content: end;
}

#country {
    font-size: 15px;
}

.others {
    outline: none;
    color: #6F6F6F;
    text-decoration: none;
    margin-right: 27px;
}

.others:hover {
    text-decoration: underline;
}

.others:active {
    color: rgb(234, 67, 53);
}
